main{
    display: flex;
    justify-content: center;
}
h1{
font-size: 50px;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
color:gray ;
}
table{
    border: 1px solid black;

}
tr{
    border: none;
}
td{
    border: none;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 12px;    
}   
#card{
    width:600px;
    display: flex;
    float: left;
    height: 380px;
    background-color: antiquewhite;
    position:absolute;
    margin-left: 500px;
    border: 1px solid black;
    display: non;
}

#nome{
    color: red;
    font-size: 50px;
    margin-left: 20px;
}
#simbolo{
    font-size: 100px;
    margin-left: 400px;
    margin-top: -150px;
}
.dados{
    margin-left: 20px;
}